/* .x3-hidden .x3-visible >414
.x2-hidden .x2-visible >768
.x1-hidden .x1-visible 769 < 1199 */

@media screen and (min-width:769px) and (max-width:1199px){
    .conteiner{
        width: 100%;
    }
        .blockProductAddMarket .ProductAddMarket-item_body .ProductAddMarket-item_block1{
            width: 100%;
        }
        .blockProductAddMarket .ProductAddMarket-item_body .ProductAddMarket-item_block2{
            width: 100%;
        }
    .newsletter_form .newsletter_form-input_email{
        margin-right: 0;
		width: 80%;
		border-bottom: 1px solid #ff5912;
    }
    .newsletter_form .newsletter_form-input_submit{
        margin: 10px auto;
        display: block;
    }
	.footer a.footer_payment_ico{
		margin-bottom: 3px;
	}
	.x1-hidden{
		display: none;
	}
	.x1-visible{
		display: block;
	}
	.header_bottom-logo {
		margin: 50px auto 0 auto;
		display: block;
	}
	.header_bottom-nav-menu {
		margin: 15px 0;
	}
	.header_bottom-nav-right {
		margin-top: 15px;
	}
	#owl-slider .owl-controls {
    	left: 15px;
	}
	.productBody_item-parametr2 a{
		margin-left: 11px;
	}

	.productBody_item, .productBody-content_bigImg-content, .roductBody-content_smallImg-content{
		margin-left: 0;
	}
}


@media screen and (max-width:768px){
	.row{
		margin-left: 0;
		margin-right: 0;
	}
	.wrap-slider{
		display: none;
	}

    .conteiner{
        width: 100%;
    }
    .header_bottom [class*="col-"]{
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .header_bottom-logo{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }
    .header_bottom-nav-menu {
    margin: 0px  auto;
    }
    .header_bottom-nav-right{
        margin-top: 20px;
        float: right;
    }
    .header_bottom-nav-right li.header_bottom-nav-right-search{
        display: block;
        margin: 0 0 19px 0;
    }
    .header_bottom-nav-right li.header_bottom-nav-right-search input{
        width: 150px;
    }

    /* .row_product li:nth-child(3n){
        clear: left;
    }
    .row_product [class*="col-"]{
        width: 50%;
    } */
    .block-banner [class*="col-"],
    .ProductAddMarket [class*="col-"],
    .newsletter_body [class*="col-"],
    .footer_body [class*="col-"]{
        width: 100%;
        text-align: center;
    }
    .footer .footer_nav li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
	.footer_payment_content{
		text-align: center;
		margin: 0 auto;
		display: block;
	}
    .blockTitle, .block-banner{
        margin-top: 20px;
    }
    .ProductAddMarket [class*="col-"]{
        margin-top: 10px;
    }
	.newsletter{
		margin-top: 40px;
	}
    .newsletter_body {
        padding-bottom: 30px;
    }
    .newsletter_text{
        text-align: center;
    }
	.blockProductAddMarket{
		margin-bottom: 0;
	}
    .blockProductAddMarket .ProductAddMarket-item_body .ProductAddMarket-item_block1{
        width: 40%;
    }
    .blockProductAddMarket .ProductAddMarket-item_body .ProductAddMarket-item_block2{
        width: 60%;
    }
    .newsletter_body .newsletter_text {
        margin: 38px 0px 0px 9px;
    }
    .newsletter_form .newsletter_form-input_email{
            margin: 10px auto;
    }
    .newsletter_body .newsletter_text .newsletter_text-text {
            clear: both;
            float: none;
            text-align: center;
            display: block;
    }
    .newsletter_body .newsletter_text .newsletter_text-description {
        float: none;
    }

	body .x2-hidden{
		display: none;
	}
	body .x2-visible{
		display: block;
	}
	.header_bottom-nav-right li .header_bottom-nav-right-search{
		position: relative;
		display: block;
		margin-right: -14px;
	}
	.gosearch{
		display: none;
	}
	.block-banner{
		margin-bottom: 20px;
	}
	.footer .footer_body{
		padding-top: 40px;
		margin-top: 50px;
	}
	.conteinerBlockLeft_name{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.conteinerBlockLeft{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.conteinerBlockLeft:last-child{
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.conteinerBlockLeft_body{
		display: none;
	}
	.conteinerBlockLeft .conteinerBlockLeft_name_plus{
		display: block;
	}
	.conteinerBlockLeft_body-checkbox label{
		margin-left: 0px;
		display: inline-block;
	}
	.conteinerBlockLeft_body-nav{
		margin-top: -15px;
	}
	.conteinerBlockLeft_body-nav li{
		margin-top: 5px;
	}
	.displayblock{
		display: block;
	}
	.productAll {
    margin-top: 20px;
    margin-bottom: 20px;
	}
	.productBody-content_bigImg-content, .roductBody-content_smallImg-content{
		margin-left: 0;
		display: flex;
  flex-wrap: nowrap;
  justify-content: center;
	}
	.productBody_item-name {
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
	}
	.productBody_item, .productBody-content_bigImg-content, .roductBody-content_smallImg-content{
		margin-left: 0;
	}
	.productBody_item-parametr2 a{
		margin: 10px;
	}
	.productBody_item-parametr2 a:first-child{
		margin-left: 0;
	}
	.productBody_item-parametr2 .productBody_item-parametr2-block2_orderNow{
		margin-right: 0;
		margin-top: 0;
		float: none;
	}
	.productBody_item-parametr2 {
    margin-top: 5px;
    text-align: center;
	}
	.productBody_item-parametr1{
		padding: 10px 0;
		margin-top: 15px;
	}

}
@media screen and (max-width:415px){
	.blockTitle h1.h1_modific{
		line-height: 25px;
	}
    .contact-info i.fa.fa-fax{
        padding-left: 0;
    }
    .contact-info{
        width: 140px;
    }
       /* .row_product [class*="col-"]{
        width: 100%;
        } */
        .blockProductAddMarket .ProductAddMarket-item_body .ProductAddMarket-item_block1{
            width: 100%;
        }
        .blockProductAddMarket .ProductAddMarket-item_body .ProductAddMarket-item_block2{
            width: 100%;
        }
        .newsletter_form .newsletter_form-input_email{
            margin: 10px auto;
        }
        .newsletter_body .newsletter_text .newsletter_text-text {
            clear: both;
            float: none;
            text-align: center;
            display: block;
        }
    .header_bottom-nav-menu{
        display: none;
    }
    .header_bottom-nav-menu--mobile{
        display: block;
        margin: 0 auto;
        border: 0;
        padding: 10px 20px;
    }
    .header_bottom-nav-right li {
        padding-left: 14px;
    }

	.x3-hidden{
		display: none;
	}
	.x3-visible{
		display: block;
	}
	.newsletter_form .newsletter_form-input_email{
		margin-right: 0;
	}
}
