/* font-family: 'Source Sans Pro', sans-serif; */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


@col_grid:12;



@font-face {
	font-family: 'HarmoniaSansProCyr';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Regular.otf');
}

@font-face {
	font-family: 'HarmoniaSansProCyr-Bold';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Bold.otf');
}

@font-face {
	font-family: 'HarmoniaSansProCyr-Boldit';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-BoldIt.otf');
}

@font-face {
	font-family: 'HarmoniaSansProCyr-BoldItalic';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-BoldItalic.otf');
}

@font-face {
	font-family: 'HarmoniaSansProCyr-Italic';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Italic.otf');
}

@font-face {
	font-family: 'HarmoniaSansProCyr-Black';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Black.otf');
}
@font-face {
	font-family: 'HarmoniaSansProCyr-SemiBd';
	src: url('../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-SemiBdCn.otf');
}


*, 
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix{
    &:before{
        clear: both;
        content: ' ';
        display: block;
    }
    &:after{
        clear: both;
        content: ' ';
        display: block;
    }
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #34404b;
    font-family: 'HarmoniaSansProCyr', sans-serif;
    background: #f4f6f8;
    
}
a{
    color: #34404b;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
a:hover, .active, li.active a{
    color: #ff5912;
    &:hover{
        color: darken(#ff5912, 10%);
    }
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.wrapp{
    width: 100%;
    overflow: hidden;
}

.header{
    width: 100%;
    display: block;
    background: #fff;
}

.conteiner{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
}

.row {
 margin-left: -15px;
 margin-right: -15px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
}

.row_product [class*="col-"]{
    padding-bottom: 10px;
}

[class*="col-"]{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}



.xs(unit(@col_grid));
.xs(@n, @i: 1) when (@i =< @n) {

		.col-xs-@{i} {
			width: (100% / @n * @i );
			float: left;
			}
			.col-xs-offset-@{i} {
			margin-left: (100% / @n * @i );
			}

.xs(@n, (@i + 1));
}


@media screen and (min-width:1199px){
	/* Сетка  1199px и выше*/
	.md(unit(@col_grid));
	.md(@n, @i: 1) when (@i =< @n) {

			.col-md-@{i} {
				width: (100% / @n * @i );
				float: left;
				}
				.col-md-offset-@{i} {
				margin-left: (100% / @n * @i );
				}

	.md(@n, (@i + 1));
	}
}


@media screen and (min-width:768px) and (max-width:1198px){
	/* Сетка  769px и выше*/
	.sm(unit(@col_grid));
	.sm(@n, @i: 1) when (@i =< @n) {

			.col-sm-@{i} {
				width: (100% / @n * @i );
				float: left;
				}
				.col-sm-offset-@{i} {
				margin-left: (100% / @n * @i );
				}

	.sm(@n, (@i + 1));
	}
}


[class*="my-"]{
    position: relative;
    background-image: url(../img/ico/myico1.png);
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
}



/* СОБСТВЕННЫЕ ИКОНКИ */
.my-mail{
    width: 18px;
    height: 11px;
    background-position: 0px -145px;
}
.my-fax{
    width: 12px;
    height: 12px;
    background-position: 0px -132px;
}
.my-facebook{
    width: 6px;
    height: 11px;
    background-position: -3px -1px;
    &:hover{
        background-position: -28px -1px;
    }
}
.my-twitter{
    width: 13px;
    height: 11px;
    background-position: 1px -13px;
    &:hover{
        background-position: -24px -13px;
    }
}
.my-google{
    width: 9px;
    height: 11px;
    background-position: 0px -25px;
    &:hover{
        background-position: -25px -25px;
    }
}
.my-instegram{
    width: 11px;
    height: 11px;
    background-position: 0px -37px;
    &:hover{
        background-position: -25px -37px;
    }
    }
.my-search {
    width: 18px;
    height: 18px;
    background-position: -1px -90px;
    &:hover{
        background-position: -26px -90px;
    }
}
.my-user {
    width: 20px;
    height: 21px;
    background-position: 0px -66px;
    &:hover{
        background-position: -25px -66px;
    }
}
.my-cart {
    width: 24px;
    height: 17px;
    background-position: 0px -180px;
    &:hover{
        background-position: -24px -180px;
    }
}

.my-add-to-cart {
    width: 22px;
    height: 21px;
    background-position: 0px -156px;
    &:hover{
        background-position: -24px -156px;
    }
}
.my-share {
    width: 19px;
    height: 17px;
    background-position: -0px -108px;
    &:hover{
        background-position: -25px -108px;
    }
}

.my-like {
    width: 19px;
    height: 16px;
    background-position: 0px -48px;
    &:hover{
        background-position: -25px -48px;
    }
}

/* СОБСТВЕННЫЕ ИКОНКИ */




.header_top, .header_bottom{
    width: 100%;
    display: block;
    background: #fff;
}

.header_top{
    border-bottom:2px solid #f4f6f8;
}
.contact-info{
    font-size: 12px;
    padding: 21px 0 22px 0;
    font-family: 'HarmoniaSansProCyr';
}
.contact-info_block1, .contact-info_block2{
    display: inline-block;
    & i{
        margin-right: 7px;
    }
}

.contact-info_block1{
    padding-right: 16px;
}
.nav-soz {
    float: right;
    margin: 20px 0px 0px 0px;
    & li{
        float: left;
        padding-left: 19px;
    }
}
.header_bottom-nav-menu{
    margin: 52px 0;
    & li{
        float: left;
        padding-right: 40px;
        & a{
            font-size: 16px;
            font-weight: 400;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}

.header_bottom-nav-right{
    margin-top: 53px;
    margin-right: 0px;
    float: right;
    & li{
        float: left;
		position: relative;
        padding-left: 30px;
        & a{
            position: relative;
            font-size: 20px;
            font-weight: 400;
            & span{
                position: absolute;
                left: 3px;
                top: -18px;
                background-color: #34404b;
                color: #fff;
                font-size: 10px;
                font-weight: 300;
                padding: 2.5px 6.4px;
                text-align: center;
                border-radius: 50%;
                z-index: 10;
            }
        }

        &:last-child{
            padding-right: 0;
        }

        & .header_bottom-nav-right-search{
			display: none;
    		position: absolute;
			z-index: 10;
			left: 0;
			top: -6px;
			margin-left: -134px;
			width: 200px;
			height: 30px;
			background: #fff;
			border: 0;
            & input{
                width: 150px;
                padding: 5px;
                font-size: 14px;
                font-family: 'HarmoniaSansProCyr';
                border: 0;
				margin: -10px 0px 0px 0px;
            }
			& .header_bottom-nav-right-search_buttongo{
				background: transparent;
				border: 0;
				    margin: 4px 0px 0px 0px;
			}
        }
    }
}
.header_bottom-nav-menu--mobile{
    display: none;
}
.header_bottom-logo{
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 35px;
}



.wrap-slider{
    width: 100%;
  	height: 650px;
    overflow: hidden;
    background: #c5c5c5;
    margin-bottom: 99px;
}



.slider-wrap{
    width: 100%;
    height: auto;
	& li{
		position: relative;
		width: 100%;
		max-width: 100%;
		display: block;
		background: #ccc;
		background-size: cover;
	}

}



#owl-slider .item{
        position: relative;
    display: block;
    width: 100%;
    height: 650px;
    background-size: cover;
    content: ' ';
}
.item{
	& .slider-wrap_h1{
            position: relative;
            color: #ff5912;
			padding-top: 18.6%;
			left: 9.5%;
            font-size: 52px;
            font-weight: 900;
			font-family: 'HarmoniaSansProCyr-Black';
            z-index: 100;
        }
	 & .slider-wrap_text{
			position: relative;
			padding-top: 5px;
			left: 9.5%;
			color: #3c4751;
			font-size: 19px;
			z-index: 100;
			font-family: 'HarmoniaSansProCyr-SemiBd';
        }
	.slider-wrap_text{
			    position: relative;
				padding-top: 7px;
				left: 9.6%;
				color: #3c4751;
				font-size: 20px;
				font-family: 'HarmoniaSansProCyr';
        }
        & .slider-wrap_text_visible05{
			position: relative;
			left: 9.5%;
			padding-top: 8px;
			color: #495662;
			font-size: 16px;
			font-weight: 400;
			z-index: 100;
        }
        & .slider-wrap_body_price{
			position: relative;
			left: 9.5%;
			padding-top: 58px;
            & .slider-wrap_price{
				color: #34404b;
				font-size: 18px;
				font-family: 'HarmoniaSansProCyr-SemiBd';
            }
            & a{
                color: #ff5912;
                font-size: 20px;
				padding-left: 45px;
				font-family: 'HarmoniaSansProCyr-SemiBd';
            }
        }
}

#owl-slider .owl-controls{
	position: absolute;
	left: 7.95%;
    top: 42%;
	width: 10px;
}

#owl-slider .owl-pagination{
	display: block;
}

#owl-slider .owl-pagination .owl-page span{
   display: block;
	margin: 0;
	padding: 0;
	width: 10px;
	height: 17px;
	background: #fff;
	webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	opacity: 1;
}

#owl-slider .owl-pagination .owl-page.active span{
	height: 36px;
	background: #ff5912;
	opacity: 1;
}





.blockTitle{
    position: relative;
    width: 100%;
    min-height: 175px;
    color: #34404b;
    font-family: 'HarmoniaSansProCyr-Black';
    text-align: center;
    display: block;
    & h1{
        font-size: 36px;
        font-weight: 900;
        line-height: 16px;
        margin: 30px 0 29px 0;
        & .h1{
            color: #ff5912;
            font-family: 'HarmoniaSansProCyr-Black';
        }
    }
	& h1.h1_modific{
			font-size: 28px;
            font-family: 'HarmoniaSansProCyr-Black';
            & .h1{
            font-size: 28px;
            color: #ff5912;
            font-family: 'HarmoniaSansProCyr-Black';
        }
    }
    & .h1-text{
        font-size: 16px;
        font-weight: 400;
		font-family: 'HarmoniaSansProCyr';
    }
}
.blockProduct{
    margin: 0;
    padding: 0;
    margin-top: -3px;
}
.product_item-block-info{
	visibility: hidden;
	position: relative;
	padding: 0 10px;
	min-height: 40px;
}
.Allproduct .product_item_body{
    height: 365px;
}
.product_item_body{
    background: #fff;
    height: auto;
	padding-bottom: 25px;
    &:hover .product_item-block-img{
	position: relative;
	z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
	transform: translateY(-50px) scale(0.4);
    }
    &:hover .product_item-block-title{
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;
			transform: translateY(-125px);
            & a{
                color: #ff5912;
            }
    }
    &:hover .product_item-block-price{
       	visibility: hidden;
    }
    &:hover .product_item-block-info{
        visibility: visible;
		height: auto;
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;
		transform: translateY(-85px);
    }
	&:hover .product_item-block-info_price{
    visibility: visible;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
    }
	&:hover .product_item-block-info_size{
    visibility: visible;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
    }

    &:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
}


.product{
	overflow: hidden;
}
.product_item{
    padding: 0 15px;
    & .product_item-block-img{

        width: 100%;
        padding-top: 30px;
		min-height: 242px;
        & img{
            margin: 0 auto;
            max-width: 100%;
            display: block;
        }
    }
    & .product_item-block-title{
        width: 100%;
        text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 0 10px;
        margin: 28px 0px -14px 0px;
        & a{
            font-size: 18px;
            font-family: 'HarmoniaSansProCyr-Bold';
        }
    }
    & .product_item-block-price{
        text-align: center;
        color: #ff5912;
        font-size: 18px;
        font-family: 'HarmoniaSansProCyr-Bold';
    }
}
 .product_item-block-info_size{
	 visibility: hidden;
    cursor: default;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'HarmoniaSansProCyr';
    letter-spacing: 1.5px;
    }
  .product_item-block-info_color{
	      transform: translateY(22px);
        cursor: default;
        width: 100%;
        text-align: center;
        & .red{
            color: #e12e3f;
        }
        & .blue{
            color: #3ab3ff;
        }
        & .green{
            color: #2fd967;
        }
        & .black{
            color: #34404b;
        }
    }


.product_item-block-info_price{
	visibility: hidden;
	position: absolute;
	width: 100%;
	transform: translate(-50%, 0%);
	left: 50%;
	bottom: 33px;
        width: 100%;
        text-align: center;
        & a{
            padding: 0px 15px;
            font-size: 18px;
            cursor: pointer;
        }
    }
.seprateA{
	position: relative;
    top: -30px;
    left: 0;
    margin: 0 auto;
    width: 169px;
    height: 1px;
    background-color: #f2f4f7;
    content: ' ';
    display: block;
}

#owl-slider2 {
	& .item{
	width: inherit;
	}
 	& .owl-pagination{
		margin-top: 70px;
		background: #fff;
		padding: 18px 0;
		width: 100%;
	}

 	& .owl-pagination .owl-page span{
	background-color: #ff5912;
            width: 8px;
            height: 8px;
            content: ''!important;
            border-radius: 50%;
            display: block;
			content: " ";
			border: 0;
			cursor: pointer;
	}
}

#owl-slider3 {
	& .item{
	width: inherit;
	}
 	& .owl-pagination{
		margin-top: 70px;
		background: #fff;
		padding: 18px 0;
		width: 100%;
	}

 	& .owl-pagination .owl-page span{
	background-color: #ff5912;
            width: 8px;
            height: 8px;
            content: ''!important;
            border-radius: 50%;
            display: block;
			content: " ";
			border: 0;
			cursor: pointer;
	}
}

.owl-theme .owl-controls {
    	margin: 0 15px;
	}


.block-banner{
    width: 100%;
    min-height: 100px;
    margin-top: 115px;
    margin-bottom: 96px;
    & .block-banner_banner{
        max-width: 100%;
		height: auto;
    }
}


.blockProductAddMarket{
    width: 100%;
	margin-bottom: 109px;
    margin-top: -3px;

	& .ProductAddMarket-item{
		margin-bottom: 10px;
	}
    & .ProductAddMarket-item:hover{
        .ProductAddMarket-item-body-price, .ProductAddMarket-item-body-rating{
            visibility: hidden;
        }
        .ProductAddMarket-item-body-addcart{
            visibility: visible;
            opacity: 1;

        }
    }


    & .ProductAddMarket-item_body{
        height: auto;
        background: #fff;
        padding-bottom: 35px;
        display: block;
        &:hover{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
        & .ProductAddMarket-item_block1{
            position: relative;
            float: left;
            width: 150px;
            & img{

                max-width: 100%;
                margin: 0 auto;
                margin-top: 35px;
                display: block;
            }
        }
        & .ProductAddMarket-item_block2{
            position: relative;
            float: left;
            width: 220px;
            & .ProductAddMarket-item-name{
                width: 100%;
                text-align: center;
                padding-top: 45px;
                & a{
                    font-size: 18px;
                    font-family: 'HarmoniaSansProCyr-Bold';
                }
            }
            & .ProductAddMarket-item-body{
                width: 100%;
                margin-top: 20px;
                & .ProductAddMarket-item-body-rating{
                    float: left;
                    margin-top: 4px;
                    padding-left: 20px;
                    opacity: 1;
                }
                & .ProductAddMarket-item-body-price{
                    float: right;
                    padding-right: 28px;
                    margin-top: 4px;
                    color: #ff5912;
                    font-size: 16px;
                    font-family: 'HarmoniaSansProCyr-Bold';
                    opacity: 1;
                }
                & .ProductAddMarket-item-body-addcart{

                    text-align: center;
                    & a{
                        color: #ff5912;
                        font-size: 16px;
						font-family: 'HarmoniaSansProCyr-SemiBd';
                        letter-spacing: 1px;
                        & i{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
.ProductAddMarket-item-body-addcart{
	position: absolute;
	top: 0;
	transform: translate(0, 80px);
	right: 50%;
	margin-right: -60px;
    visibility: hidden;
    opacity: 0;transition: all 0.25s ease-out;
}

.newsletter{
    margin-top: 100px;
}
.newsletter--producshow{
    margin-top: 109px;
}
.newsletter_body{
 min-height: 123px;
  background-color: white;
    & .newsletter_text{
        margin: 53px 0px 0px 56px;
        & .newsletter_text-text{
        float: left;
        color: #ff5912;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
		font-family: 'HarmoniaSansProCyr-Bold';
        padding-right: 26px;
        }
        & .newsletter_text-description{
        float: left;
        color: #34404b;
        font-size: 14px;
        font-family: 'HarmoniaSansProCyr-Italic';
        }
    }
}

.newsletter_form{
    margin: 39px 0 0 17px;
    & i{
        color: #ff5912;
    }
    & .newsletter_form-input_email{
    color: #7c8791;
    font-size: 14px;
    font-family: 'HarmoniaSansProCyr-Italic';
    padding: 5px;
    width: 200px;
    border: 0;
    margin-right: 86px;
      &:focus{
            color: #34404b;
      }
		&:-moz-ui-invalid:not(output){
			box-shadow: 0 0 0 0;
		}
    }
    & .newsletter_form-input_submit{
            border: 0;
            color: white;
            font-size: 14px;
            padding: 17px 32px;
            background-color: #ff5912;
			font-family: 'HarmoniaSansProCyr-SemiBd';
            cursor: pointer;
        &:hover{
            background-color: darken(#ff5912, 10%);
        }
    }
}



.footer{
    background: #fff;
    & .footer_body{
        margin-top: 122px;
        min-height: 250px;
        padding: 91px 0px 0px 1px;
    }
    & .footer_logo{
        margin:  -2px 0px 1px 0px;
    }
    & .footer_copyright{
        display: block;
        color: #28313b;
        font-size: 14px;
        font-weight: 400;
        padding: 14px 0px 0px 0px;
    }
    & .footer_nav{
        margin: -5px 0px 0px 17px;
        & li{
            padding-bottom: 10px;
            list-style-type: circle;
			& a{
				font-size: 12px;
				font-family: 'HarmoniaSansProCyr';
			}
        }
    }
    & .footer_payment_text{
        display: block;
        color: #ff5912;
        font-family: 'HarmoniaSansProCyr-SemiBd';
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 16px;
    }
    & a.footer_payment_ico{
        width: 30px;
        height: 19px;
        content: ' ';
        background: #fff url(../img/payment-images.png) 0 0 no-repeat;
        display: inline-block;
        &.pm_ico1{
        background-position: 0px 0px;
        }
        &.pm_ico2{
            background-position: -35px 0px;
        }
        &.pm_ico3{
            background-position: -70px 0px;
        }
        &.pm_ico4{
            background-position: -105px 0px;
        }
        &.pm_ico5{
            background-position: -140px 0px;
        }
    }
    
}



.productAll{
	margin-top: 121px;
    margin-bottom: 110px;
}

.productAll .product_item {
    margin-bottom: 30px;
}


.conteinerBlockLeft{
	width: 100%;
	background: #fff;
	padding-bottom: 32px;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 32px;

}
.conteinerBlockLeft_name{
	position: relative;
	width: 100%;
	color: #ff5912;
	font-size: 18px;
	font-family: 'HarmoniaSansProCyr-Black';
	padding: 34px 0px 40px 3px;
}
.conteinerBlockLeft_name_plus{
	position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 0px 5px;
    background: #f5f5f5;
    margin: 30px -5px 0 0;
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
    display: none;
}
.conteinerBlockLeft_body{
	width: 100%;
	padding: 0px 0px;
}


.conteinerBlockLeft_body-nav{
	margin-top: -35px;
	& li{
		margin-top: 29px;
	}
	& a{
		color: #34404b;
		font-size: 16px;
        font-family: 'HarmoniaSansProCyr-SemiBd';
	}
}



.conteinerBlockLeft_body{
	& .ui-widget.ui-widget-content {
    border: 0;
	background-color: #edf0f2;
	width: 100%;
  	height: 3px;
	}
	& .ui-slider .ui-slider-range{
		background-color: #34404b;
		clear: both;
	}
	& .ui-state-default,
		.ui-widget-content .ui-state-default,
		.ui-widget-header .ui-state-default,
		.ui-button,
		html .ui-button.ui-state-disabled:hover,
		html .ui-button.ui-state-disabled:active{
		background-color: #34404b;
		border-radius: 50%;
		width: 11px;
		height: 11px;

	}
}


.blockSum{
	clear: both;
	margin-top: -12px;
	padding-bottom: 15px;
    font-size: 14px;
    font-family: 'HarmoniaSansProCyr-SemiBd';
	& .blockSum1{
		float: left;
		padding-left: 20px;
	}
	& .blockSum2{
		float: right;
		padding-right: 20px;
	}
}


.blockSumInput{
	width: 100%;
	margin-top: 20px;
	& .blockSumInputText{
	float: left;
    color: #34404b;
    font-size: 14px;
    font-family: 'HarmoniaSansProCyr-SemiBd';
    margin-top: 23px;
    padding-left: 2px;
    padding-right: 20px;
	}

	& .blockSumInput{
		float: left;
		width: 45px;
		height: 25px;
		background-color: #edf0f2;
        font-family: 'HarmoniaSansProCyr-SemiBd';
        font-size: 14px;
		border: 0px;
		text-align: center;
		padding-right: 5px;
	}
}

.conteinerBlockLeft_body-checkbox{
	margin-top: -38px;
	& input[type="checkbox"]:checked + label > span{
		background: url(../img/checkbox-checked.jpg) no-repeat;
	}
	& input[type="checkbox"]:checked + label{
		color: #ff5912;

	}
	& input[type="checkbox"]{
		display: none;
	}
	& span{
		position: relative;
		width: 13px;
		height: 13px;
		background: url(../img/checkbox.jpg) no-repeat;
		content: ' ';
		display: inline-block;
		margin-right: 13px;
	}
	& label{
		font-size: 16px;
        font-family: 'HarmoniaSansProCyr-SemiBd';
		display: block;
		margin-top: 30px;
	}
}

.blockTovarNavBody{
    width: 100%;
    background: #fff;
    padding: 19px 0px;
    & .blockTovarNav{
        width: 100%;
        text-align: center;
        & li{
            display: inline-block;
        }
        & li a{
            position: relative;
            width: 8px;
            height: 8px;
            background: #ff5912;
            content: ' ';
            display: block;
            border-radius: 50%;
        }
    }
}






.productBody{
	width: 100%;
	background: #fff;
	padding-top: 104px;
	padding-bottom: 124px;
	min-height: 547px;
	margin-bottom: 94px;
}
.productBody-content_bigImg-content{
	width: 100%;
	height: 345px;
	margin-left: -50px;
	& .productBody-content_bigImg{
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}

}
.roductBody-content_smallImg-content{
	width: 100%;
	display: block;
	margin-left: -20px;
	& li{
		float: left;
		width: 95px;
		height: 69px;
		margin-right: 15px;
		background: #f4f6f5;
		display: flex;
		align-items: center;
		justify-content: center;
		&.active{
			background: #ff5912;
			& img{
				opacity: 0.3;
			}
		}
		& img{
			margin: 0 auto;
			display: block;


		}
	}

	& li:last-child{
		margin-right: 0;
	}
}

.productBody_item{
	margin-left: -20px;
    width: 100%;
}

.productBody_item-name {
	color: #ff5912;
	font-family: 'HarmoniaSansProCyr-Black';
	font-size: 52px;
	line-height: 1;
}

.productBody_item-name_description{
	color: #3c4751;
	font-family: 'HarmoniaSansProCyr-SemiBd';
	font-size: 18px;
	margin-top: 10px;
}
.productBody_item-body{
	font-family: 'HarmoniaSansProCyr';
	color: #495662;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin-top: 30px;
}

.productBody_item-parametr1{
	border: 0;
	border-top: 1px solid #edeff1;
	border-bottom: 1px solid #edeff1;
	padding: 35px 0;
	margin-top: 35px;
    font-family: 'HarmoniaSansProCyr-SemiBd';

	& .choossize{
		float: left;
		font-size: 18px;
        font-family: 'HarmoniaSansProCyr-SemiBd';
		padding-right: 28px;
	}
	& .productBody_item-parametr1-size{

	}
}

label.radio{
	color: #34404b;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 21px;
	cursor: pointer;
}
label.radio:last-child{
	padding-right: 0;
}
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked + label{
	color: #ff5912;
	font-size: 18px;
}

.productBody_item-parametr1-size-Psubmit{
	opacity: 0.82;
	color: #34404b;
	font-size: 18px;
	border: 0px;
	padding: 5px;
	background: transparent ;
	cursor: pointer;
	margin-top: -3px;
}
.productBody_item-parametr1-size-Ptext{
	width: 30px;
	color: #ff5912;
    font-family: 'HarmoniaSansProCyr-SemiBd';
	font-size: 18px;
	border: 0px;
	padding: 5px;
	background: transparent ;
	text-align: center;
	margin-top: -3px;
}
.Pstule{
	float: left;
	padding-left: 1px;
}


.productBody_item-parametr2{
	margin-top: 34px;
	& .productBody_item-parametr2-block2_urlgo{
		padding: 0px 0px 0px 0px;
		margin: 19px 0px 0px 0px;
		font-size: 21px;
		color: #34404b;
	}
	& a{
		 margin-left: 34px;
	}
	& .productBody_item-parametr2-block2_orderNow{
		float: right;
		background-color: #ff5912;
		border-radius: 24px;
		padding: 14px 28px;
		color: white;
		font-size: 18px;
        font-family: 'HarmoniaSansProCyr-SemiBd';
		margin-right: 54px;
		border: 0;
		margin-top: -16px;
		&:hover{
			background-color: darken(#ff5912,10%);
		}
	}
	.productBody_item-parametr2-block1 {
		margin-top: 13px;
	}
	.productBody_item-parametr2-block1_price {
		color: #34404b;
		font-size: 20px;
        font-family: 'HarmoniaSansProCyr-Black';
		font-weight: 900;
	}

}
.productBody_item-parametr2-block2{
	padding-top: 12px;
}
.productBody_item-parametr2-block2-ico{
	position: relative;
    left: 10px;
}




.row_product_dots{
	background: #fff;
    padding: 26px 0px;
	margin: 0px 15px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    lign-items: center;
    justify-content: center;
}







/* ЗВЕЗДОЧНЫЙ РЕЙТИНГ */

.positioner {
	position: relative;
	display: inline-block;
	line-height: 0;
    height: 20px;
}
.starbox .colorbar,
.starbox .ghost {
	z-index: 0;
	position: absolute;
	max-width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
}
.starbox .stars {
	display: inline-block;
}
.starbox .stars .star_holder {
	position: relative;
	z-index: 1;
}
.starbox .stars .star_holder .star {
	display: inline-block;
	vertical-align: baseline;
	background-repeat: no-repeat;
}
/* Override with your own image and size… */
.starbox .stars .star_holder .star {
	background: #f55d44 url('../img/5-small.png');
	background-position: -1px -1px;
	width: 15px;
    height: 16px;
    border: 0;
}

.starbox .rated .stars { background: #dcdcdc; }
.starbox .rated.hover .stars { background: #cccccc; }
/* .starbox .colorbar { background: #1e90ff; } */
.starbox .hover .colorbar { background: #ffcc1c; }
.starbox .rated .colorbar { background: #64b2ff; }
.starbox .rated.hover .colorbar { background: #1e90ff; }
.starbox .ghost { background: #a1a1a1; }





@keyframes KF_Opacity {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
